Package: canaima-accesibilidad-full-gnome
Source: canaima-accesibilidad-gnome
Version: 3.2-16
Architecture: all
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Installed-Size: 27
Depends: canaima-accesibilidad-cognitiva-gnome, canaima-accesibilidad-motora-gnome, canaima-accesibilidad-visual-gnome, canaima-accesibilidad-auditiva-gnome
Conflicts: canaima-accesibilidad
Replaces: canaima-accesibilidad
Provides: canaima-accesibilidad
Section: misc
Priority: extra
Homepage: http://canaima.softwarelibre.gob.ve/
Description: Metapaquete de accesibilidad completa para Canaima GNU/Linux
 Este paquete provee los  metapaquetes de accesibilidad visual,
 cognitiva y fisicomotora, (metapackage).
