Package: canaima-accesibilidad-minimo-gnome
Source: canaima-accesibilidad-gnome
Version: 3.2-16
Architecture: all
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Installed-Size: 229
Depends: festival, festvox-sflpc16k, libcolorblind0, gnome-accessibility-themes, gnome-mag, canaima-acces-min-config
Recommends: freedesktop-sound-theme
Conflicts: canaima-accesibilidad
Replaces: canaima-accesibilidad
Provides: canaima-accesibilidad
Section: misc
Priority: extra
Homepage: http://canaima.softwarelibre.gob.ve/
Description: Metapaquete de accesibilidad  mínima  para Canaima GNU/Linux
 Este paquete provee funcionalidad mínima para la
 accesibilidad en  Canaima GNU/Linux, (metapackage).
