Package: canaima-accesibilidad-motora-gnome
Source: canaima-accesibilidad-gnome
Version: 3.2-16
Architecture: all
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Installed-Size: 27
Depends: dasher, dasher-data, gok, python-at-spi, libgtk2.0-0, python-glade2, python-gtk2-dbg, python-gtk2-dev, python-gtk2-doc, mousetweaks, gnome-mousetrap
Conflicts: canaima-accesibilidad
Replaces: canaima-accesibilidad
Provides: canaima-accesibilidad
Section: misc
Priority: extra
Homepage: http://canaima.softwarelibre.gob.ve/
Description: Metapaquete de accesibilidad motora para Canaima GNU/Linux
 (metapackage).
