Source: canaima-accesibilidad
Section: misc
Priority: optional
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Uploaders: José Miguel Parrella Romero <jparrella@onuva.com>, Carlos David Marrero <cdmarrero2040@gmail.com>, Orlando Andrés Fiol Carballo <ofiol@indesoft.org.ve>, Carlos Alejandro Guerrero Mora <guerrerocarlos@gmail.com>, Diego Alberto Aguilera Zambrano <diegoaguilera85@gmail.com>, Luis Alejandro Martínez Faneyth <martinez.faneyth@gmail.com>, Francisco Javier Vásquez Guerrero <franjvasquezg@gmail.com>, carlos escobar <carlosescobar70@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cdbs
Standards-Version: 3.9.1
Homepage: http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://gitorious.org/canaima-gnu-linux/canaima-accesibilidad.git
Vcs-Browser: http://gitorious.org/canaima-gnu-linux/canaima-accesibilidad/trees/master

Package: canaima-accesibilidad
Architecture: all
Depends: at-spi, brltty, brltty-flite, brltty-speechd, brltty-x11, cunaguaro-l10n-es-es, mesa-utils, bluetooth, bluez-utils, hplip, modconf, build-essential, libstdc++5, subversion, openssh-server, unrar, sun-java6-jre, network-manager-gnome, module-assistant, pidgin, libreoffice, libreoffice-base, , libreoffice-l10n-es, , myspell-es, tomboy, planner, libreoffice-gtk, sox, alsa-base, listen, gxine, mplayer, xine-ui, espeak, festival, festvox-sflpc16k, festvox-palpc16k, brltty, brltty-flite, brltty-x11, kmag, , gnome-orca, gnome-accessibility-themes, gnome-accessibility, libcolorblind0, kmag, gnome-mag, libgail-common, mousetweaks, dasher, dasher-data, gok, gcompris, childsplay, libcolorblind0,  ${shlibs:Depends}, ${misc:Depends}
Recommends: pidgin-festival
Sugiere: wireless-tools
Description: Programas de Accesibilidad para Canaima GNU/Linux
 Este metapaquete provee los programas de accesibilidad y configuraciones para que las personas con discapacidad puedan utilizar canaima GNU/Linux.

