#!/usr/bin/make -f

%:
	dh ${@}

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/canaima-accesibilidad-minimo-gnome install-minimo
	$(MAKE) DESTDIR=$(CURDIR)/debian/canaima-accesibilidad-visual-gnome install-visual

override_dh_gconf:
        dh_gconf --priority=25
