Package: canaima-accesibilidad-visual-gnome
Source: canaima-accesibilidad-gnome
Version: 3.2-16
Architecture: all
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Installed-Size: 230
Depends: at-spi, brltty, brltty-flite, brltty-speechd, brltty-x11, festival, festvox-sflpc16k, freedesktop-sound-theme, gnome-accessibility-themes, libcolorblind0, libatk1.0-data, libgail-common, mousetweaks, dots, libatspi1.0-0, libatspi-dev, libgnome-speech7, x-ttcidfont-conf, pidgin-festival, canaima-acces-visual-config
Conflicts: canaima-accesibilidad, canaima-accesibilidad-minimo-gnome
Replaces: canaima-accesibilidad, canaima-accesibilidad-minimo-gnome
Provides: canaima-accesibilidad, canaima-accesibilidad-minimo-gnome
Section: misc
Priority: extra
Homepage: http://canaima.softwarelibre.gob.ve/
Description: Metapaquete de accesibilidad visual para Canaima GNU/Linux
 (metapackage).
